<footer>
    <section class="footer">
        <div class="container_flex-column">
            <div class="section-title">
                <h3>Как нас найти</h3>
                <p>
                    Калужская область, г. Обнинск, муниципальная промышленная зона 82a
                </p>
            </div>
            <div class="section-content section-content_footer">
                <div class="footer-map">
                    <img src="img/jpg/map.jpg" alt="наш адрес на карте">
                </div>
                <div class="footer-form">
                    <form action="">
                        <div class="input-group">
                            <input type="text" placeholder="Ваше имя">
                            <input type="email" placeholder="Ваш Email">
                        </div>
                        <textarea placeholder="Ваше сообщение"></textarea>
                        <div class="prices-btn price-btn_footer">
                            <button>ОТПРАВИТЬ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</footer>

<script src="js/main.js"></script>
</body>
</html>