<header>
    <div class="header-content">
        <div class="header-content__top">
            <div class="container top-container">
                <a href="#" class="logo">
                    <div class="logo__img"></div>
                    <div class="logo__description">
                        <span>ОБНИНСКАЯ</span>
                        <span>БУРОВАЯ</span>
                        <span>КОМПАНИЯ</span>
                    </div>
                </a>
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Этапы работы</a></li>
                        <li><a href="#">Стоимость</a></li>
                        <li><a href="#">Портфолио</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
                <div id="mobile-nav-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="hide" id="mobile-nav">
                    <ul>
                        <li><a href="">Услуги</a></li>
                        <li><a href="">Этапы работы</a></li>
                        <li><a href="">Стоимость</a></li>
                        <li><a href="">Портфолио</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </div>
                <div class="phone">
                    <span>+7(495)123-45-67</span>
                    <button id="callback">заказать консультацию</button>
                </div>
            </div>
        </div>
        <div class="header-content__bottom">
            <div class="container container_flex-column">
                <div class="title">
                    <h3 class="title__text">
                        НОВЫЕ ТЕХНОЛОГИИ
                        БУРЕНИЯ СКВАЖИН НА ВОДУ
                    </h3>
                    <div class="title__guarantee"></div>
                </div>
                <div class="free-consulting" id="free-consulting">
                    <div class="free-consulting__title">
                        получить консультацию бесплатно
                    </div>
                    <form id="consulting-form" class="free-consulting__form" method="post">

                        <!-- Hidden Required Fields -->
                        <input type="hidden" name="project_name" value="Обнинская буровая компания">
                        <input type="hidden" name="admin_email" value="n.guznyaeva@yandex.ru"><!--admin email-->
                        <input type="hidden" name="form_subject" value="Заказ консультации">
                        <!-- END Hidden Required Fields -->

                        <input type="text" name="name" placeholder="Ваше имя" required>
                        <input type="tel" name="phone" placeholder="Ваш телефон" required>
                        <textarea name="message" id="" cols="30" rows="10" maxlength="100" placeholder="Ваше сообщение"></textarea>
                        <button>отправить</button>
                    </form>
                    <div id="cancel-callback"></div>
                </div>
            </div>
        </div>
    </div>
</header>