@font-face {
  font-family:"roboto black";
  src: url("../fonts/roboto black.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"helvetica bold";
  src: url("../fonts/Helvetica neue bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"myriad regular";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"exo 2.0 extrabold";
  src: url("../fonts/Exo2.0-ExtraBold.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"myriad bold";
  src: url("../fonts/Myriad-Pro-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}