@media all {
  .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
  }
  .container_flex-column {
    flex-direction: column;
  }
  button {
    cursor: pointer;
  }
  //------------------------header styles

  header {
    background: url("../img/jpg/header-main.jpg") center no-repeat;
    background-size: cover;
    height: 700px;
    .header-content {
      height: 700px;
      &__top {
        background: rgba(255,255,255,0.7);
        height: 116px;
        display: flex;
      }
      &__bottom {
        position: relative;
        .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          letter-spacing: 1px;
          margin-top: -9px;
          &__text {
            font: normal 40px "exo 2.0 extrabold";
            color: #ffbe33;
            text-align: center;
            text-shadow: 2px 2px 0 #000;
            max-width: 600px;
            line-height: 80px;
            margin-bottom: 0;
          }
          &__guarantee {
            background: url("../img/png/guarantee.png") no-repeat;
            width: 186px;
            height: 186px;
            position: relative;
            left: 164px;
            bottom: 8px;
          }
        }
      }
    }
  }
  .logo {
    display: flex;
    text-decoration: none;
    margin-top: 12px;
    &__img {
      background: url("../img/png/logo.png") no-repeat;
      width: 115px;
      height: 98px;
    }
    &__description {
      position: relative;
      right: 22px;
      display: flex;
      flex-direction: column;
      color: #005399;
      font: normal 24px "roboto black";
      span:first-child {
        color: #2b5276;
      }
    }
  }
  .navigation {
    margin-top: 19px;
    ul {
      list-style: none;
      li {
        position: relative;
        display: inline-block;
        padding-right: 19px;
        margin-left: 6px;
        &::after {
          content: "";
          background: url("../img/png/circle-nav.png") no-repeat;
          width: 5px;
          height: 5px;
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -2.5px;
        }
        &:last-child {
          padding-right: 0;
          &::after {
            display: none;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        a {
          color: #014787;
          text-decoration: none;
          font: normal 15px "myriad regular";
        }
      }
    }
  }
  #mobile-nav {
    display: none;
  }
  #mobile-nav-btn {
    display: none;
  }
  .phone {
    margin-top: 7px;
    color: #0054a0;
    font: normal 40px "helvetica bold";
    display: flex;
    flex-direction: column;
    button {
      border: none;
      border-radius: 10px;
      background: linear-gradient(#97c3f0,#4690d9);
      color: #fff;
      outline: none;
      cursor: pointer;
      padding: 8px;
      margin: 4px 0;
      font-size: 20px;
      display: none;
    }
  }
  .hide {
    display: none !important;
  }
  #cancel-callback {
    position: absolute;
    background: url("../img/png/cancel.png") no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    right: -25px;
    top: -25px;
    display: none;
  }
  .free-consulting {
    display: block;
    width: 275px;
    background: #fff;
    position: absolute;
    right: 75px;
    z-index: 9999;
    top: 60px;
    &__title {
      font: normal 20px "myriad regular";
      color: #0054a0;
      text-align: center;
      margin-top: 10px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        padding: 0 10px 0 10px;
        height: 18px;
        width: 220px;
        border-radius: 4px;
        border: 1px solid #a7a8a8;
        outline: none;
        font-size: 14px;
        margin: 10px 0;
        &::-webkit-input-placeholder {
          color: #a7a8a8;
        }
        &:-ms-input-placeholder {
          color: #a7a8a8;
        }
        &:-moz-placeholder {
          color: #a7a8a8;
        }
      }
      textarea {
        height: 75px;
        outline: none;
        resize: none;
        color: #000000;
        padding: 0 10px 0 10px;
        width: 220px;
        border-radius: 4px;
        font-size: 14px;
        margin: 10px 0;
        &::-webkit-input-placeholder {
          color: #a7a8a8;
        }
        &:-ms-input-placeholder {
          color: #a7a8a8;
        }
        &:-moz-placeholder {
          color: #a7a8a8;
        }
      }
      button {
        border: none;
        border-radius: 10px;
        background: linear-gradient(#97c3f0,#4690d9);
        color: #fff;
        outline: none;
        cursor: pointer;
        padding: 8px;
        margin: 10px 0;
      }
    }
  }

  //-------------------------content styles

  .section-title {
    font: normal 33px "helvetica bold";
    text-align: center;
    padding-top: 48px;
    &:after {
      content: '';
      height: 2px;
      width: 50px;
      border: 2px solid #0054a0;
      box-sizing: border-box;
      display: block;
      margin: 15px auto 0;
    }
    h3 {
      color: #0054a0;
      margin: 0;
      padding-top: 10px;
    }
    p {
      margin: 0;
      font-size: 18px;
      color: #69a9e3;
      padding-top: 5px;
    }
  }
  .prices-btn {
    button {
      border: none;
      background: #70a432;
      display: block;
      font: normal 18px "helvetica bold";
      color: #fff;
      letter-spacing: 0.5px;
      height: 50px;
      width: 175px;
      margin: 45px auto 68px;
    }
  }
  .section-content {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    width: 100%;
    margin: 52px auto 0;
    padding-bottom: 100px;
    &__block {
      width: 360px;
      height: 650px;
      box-sizing: border-box;
      border: 1px solid #467200;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #fff;
      position: relative;
      z-index: 200;
      &:nth-child(2) {
        z-index: 9000;
      }
      &:hover {
        transform: scale(1.1,1.1);
        transition-timing-function: ease-out;
        transition-duration: 550ms;
        box-shadow: 0 0 65px rgba(113,164,51,.9);
        z-index: 9999;
      }
      .services-name {
        color: #0054a0;
        font: normal 27px "helvetica bold";
        text-align: center;
        padding: 0 70px;
        margin-top: 36px;
      }
      .services-price {
        color: #0054a0;
        font: normal 32px "helvetica bold";
        text-align: center;
        position: relative;
        bottom: 27px;
        letter-spacing: 1px;
        span {
          color: #ec0520;
        }
      }
      .services-btn {
        button {
          background: #71a433;
          width: 100%;
          border: none;
          display: block;
          color: #fff;
          height: 90px;
          cursor: pointer;
          outline: none;
          font-size: 25px;
        }
      }
    }
  }
  main {
    .services {
      background: #fefefe;
    }
    .steps {
      background: url("../img/jpg/water.jpg") no-repeat;
      background-size: cover;
    }
    .steps_scale {
      transform: scale(-1, 1);
      .container_scale {
        transform: scale(-1, 1);
      }
    }
    .prices {
      background: #fff;
    }
    .advantages {
      background: #fff;
    }
    .works {
      background: #f1f2f4;
    }
    .best-choice {
      background: url("../img/png/choise.png") no-repeat;
      width: 179px;
      height: 178px;
      position: absolute;
      right: -68px;
      bottom: -66px;
      z-index: 9999;
    }
    .section-content_steps {
      flex-direction: column;
      align-items: center;
      .one-step {
        display: flex;
        background: #fff;
        position: relative;
        max-width: 1025px;
        width: 100%;
        justify-content: flex-start;
        margin: 30px 0;
        &:hover {
          transform: scale(1.1,1.1);
          transition-timing-function: ease-out;
          transition-duration: 550ms;
          box-shadow: 0 0 65px rgba(0,0,0,.8);
        }
        &__img {
          img {
            width: 340px;
            height: 237px;
          }
        }
        &__title {
          color: #0054a0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 95px;
          p {
            max-width: 480px;
          }
          p:first-child {
            font: normal 20px "helvetica bold";
          }
          p:last-child {
            font: normal 17px "myriad regular";
          }
        }
        &__step-number {
          position: absolute;
          border: 1px solid #fff;
          border-radius: 4px;
          box-sizing: border-box;
          width: 105px;
          height: 105px;
          background: #1e7acc;
          left: 280px;
          top: 65px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            color: #fff;
            font: normal 22px "helvetica bold";
            margin: 0;
            &:first-child {
              font-size: 65px;
              line-height: 50px;
            }
          }
        }
      }
      .one-step_two {
        justify-content: flex-end;
        .one-step__img {
          order: 2;
        }
        .one-step__title {
          order: 1;
          text-align: right;
          margin-right: 95px;
        }
        .one-step__step-number {
          left: auto;
          right: 280px;
        }
      }
    }
    .section-content_prices {
      position: relative;
      .section-content__one-price {
        &:nth-child(2) {
          z-index: 9000;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 404px;
        border: 1px solid #70a432;
        box-sizing: border-box;
        position: relative;
        background: #fff;
        z-index: 200;
        &:hover {
          transform: scale(1.1,1.1);
          transition-timing-function: ease-out;
          transition-duration: 550ms;
          box-shadow: 0 0 65px rgba(0,0,0,.8);
          z-index: 9999;
        }
        .prices-name {
          color: #fff;
          background: #70a432;
          width: 100%;
          text-align: center;
          font: normal 20px "myriad regular";
          height: 185px;
          display: flex;
          align-items: center;
          span {
            padding: 0 52px;
            height: auto;
            display: block;
            line-height: 35px;
          }
        }
        .prices-img {
          display: flex;
          img {
            display: block;
            margin-top: 40px;
            margin-left: 30px;
            width: 112px;
            height: 315px;
          }
          ul {
            list-style: none;
            padding-left: 30px;
            margin-top: 65px;
            li {
              position: relative;
              margin: 13px 0;
              &:first-child {
                margin-top: 0;
              }
              a {
                text-decoration: none;
                padding-left: 30px;
                display: block;
                font: normal 18px "myriad regular";
                color: #0054a0;
              }
            }
            .item-plus {
              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                background: url("../img/png/plus.png") no-repeat;
                width: 22px;
                height: 23px;
              }
            }
            .item-minus {
              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                background: url("../img/png/minus.png") no-repeat;
                width: 22px;
                height: 8px;
                top: 10px;
              }
            }
          }
        }

      }
    }
    .section-content_about {
      flex-direction: column;
      color: #0054a0;
      font: normal 18px "myriad bold";
      p {
        padding: 0 90px;
        line-height: 26px;
      }
      ul {
        margin: 0;
        padding: 0 90px;
        list-style: none;
        line-height: 26px;
        li {
          padding-left: 30px;
        }
      }
    }
    .section-content_advantages {
      justify-content: space-between;
      .advantages-block {
        padding: 0 20px;
        img {
          max-width: 239px;
          border: 4px solid #75a73f;
          border-radius: 50%;
          box-sizing: border-box;
          display: block;
          width: 100%;
        }
        span {
          text-align: center;
          color: #0054a0;
          font: normal 24px "myriad regular";
          display: block;
          margin-top: 12px;
        }
      }
    }
    .section-content_works {
      display: flex;
      flex-direction: column;
      .line {
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
        .works-block {
          display: flex;
          flex-direction: column;
          font: normal 14px "myriad regular";
          color: #0054a0;
          text-align: center;
          &:hover {
            transform: scale(1.1,1.1);
            transition: all 0.5s ease 0s;
          }
          img {
            max-width: 299px;
            width: 100%;
            padding-bottom: 15px;
          }
          &__name {
            font-size: 20px;
          }
        }
      }
    }
    .small-padding {
      padding-bottom: 40px;
    }

    //-----animation scale start------//

    .first-scale {
      &:hover {
        animation: scale-move-left 1s ease 0s 1;
        left: 100px;
        z-index: 9999;
      }
    }
    .last-scale {
      &:hover {
        animation: scale-move-right 1s ease 0s 1;
        right: 100px;
        z-index: 9999;
      }
    }
    @keyframes scale-move-left {
      0%{
        position: relative;
        left: 0;
      }
      100%{
        left: 100px;
      }
    }
    @keyframes scale-move-right {
      0%{
        position: relative;
        right: 0;
      }
      100%{
        right: 100px;
      }
    }

    //-----animation scale end------//
  }

  //-------------------------footer styles

  footer {
    .footer {
      background: #fff;
    }
    .section-content_footer {
      flex-direction: column;
      padding-bottom: 0;
      .footer-map {
        img {
          display: block;
          margin: 0 auto;
          max-width: 919px;
          width: 100%;
          padding: 0 20px;
        }
      }
      .footer-form {
        form {
          display: flex;
          align-items: center;
          flex-direction: column;
          .input-group {
            margin: 30px 0;
            display: flex;
            width: 100%;
            justify-content: center;
            input {
              color: #222;
              padding: 17px 10px 18px 15px;
              border: 1px solid #777;
              max-width: 388px;
              width: 100%;
              margin: 0 15px;
              outline: none;
              &:-moz-placeholder {
                color: #222;
              }
              &:-ms-input-placeholder {
                color: #222;
              }
              &::-webkit-input-placeholder {
                color: #222;
              }
            }
          }
          textarea {
            resize: none;
            padding-left: 15px;
            border: 1px solid #777;
            max-width: 841px;
            width: 100%;
            height: 181px;
            padding-top: 15px;
            outline: none;
            &:-moz-placeholder {
              color: #222;
            }
            &:-ms-input-placeholder {
              color: #222;
            }
            &::-webkit-input-placeholder {
              color: #222;
            }
          }
        }
      }
      .price-btn_footer {
        button {
          font: normal 18px "myriad regular";
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .section-content {
    &__block {
     width: 275px;
      height: auto;
      margin: 0 10px;
      &:hover {

      }
      .services-name {
        padding: 0 5px;
      }
      .services-img {
        img {
          max-width: 320px;
          width: 100%;
        }
      }
      .services-price {

        span {

        }
      }
    }
  }
  .prices-btn {
    button {
      margin: 10px auto 40px;
    }
  }
  main {
    .best-choice {
      background-size: contain;
      width: 130px;
      right: -59px;
      bottom: -105px;
    }
    .section-content_steps {
      .one-step {
        width: 910px;
        &__img {
          img {
            width: 285px;
            height: 100%;
          }
        }
        &__step-number {
          width: 95px;
          height: 95px;
          left: 238px;
          top: 47px;
        }
      }
      .one-step_two {
        .one-step__step-number {
          right: 238px;
        }
      }
    }
    .section-content_prices {
      .section-content__one-price {
        width: 322px;
        .prices-name {
          span {
            padding: 0;
          }
        }
        .prices-img {
          ul {
            padding-left: 15px;
            li {
              a {
                font-size: 14px;
              }
            }
          }
        }

      }
    }
    .section-content_advantages {
      .advantages-block {
        span {
         font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .logo {
    margin-top: 45px;
    &__img {
      width: 80px;
      background-size: contain;
    }
    &__description {
     font-size: 15px;
      right: 18px;
    }
  }
  .phone {
   font-size: 20px;
    span {
      white-space: nowrap;
    }
    button {
      font-size: 14px;
    }
  }
  .navigation {
    ul {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .section-content {
    width: 97%;
    &__block {
      .services-name {
       font-size: 16px;
      }
      .services-price {
        font-size: 18px;
        position: relative;
        top: 0;
      }
    }
  }
  main {
    .section-content_steps {
      .one-step {
        max-width: 910px;
        width: 100%;
        margin: 30px 10px;
        &:hover {
          transform: none;
        }
      }
    }
    .section-content_prices {
      .section-content__one-price {
        max-width: 250px;
        margin: 0 10px;
        .prices-name {
          font-size: 15px;
        }
        .prices-img {
          flex-direction: column;
          img {
            margin: 10px auto 0;
            height: 240px;
          }
          ul {
            margin-top: 20px;
            li {
              a {
              }
            }
          }
        }

      }
    }
    .section-content_works {
      .line {
        .works-block {
          margin: 0 10px;
        }
      }
    }
    .section-content_advantages {
      flex-wrap: wrap;
      justify-content: center;
      .advantages-block {
        img {
          max-width: 203px;
        }
      }
    }
    .section-content_about {
      p {
        padding: 0 10px;
      }
      ul {
        padding: 0 10px;
      }
    }
  }
  footer {
    .section-content_footer {
      .footer-map {
        img {
          padding: 0;
        }
      }
      .footer-form {
        form {
          display: flex;
          align-items: center;
          flex-direction: column;
          .input-group {
            margin: 30px 0;
            display: flex;
            width: 100%;
            justify-content: center;
            input {
              color: #222;
              padding: 17px 10px 18px 15px;
              border: 1px solid #777;
              max-width: 388px;
              width: 100%;
              margin: 0 15px;
              outline: none;
              &:-moz-placeholder {
                color: #222;
              }
              &:-ms-input-placeholder {
                color: #222;
              }
              &::-webkit-input-placeholder {
                color: #222;
              }
            }
          }
          textarea {
            resize: none;
            padding-left: 15px;
            border: 1px solid #777;
            max-width: 841px;
            width: 100%;
            height: 181px;
            padding-top: 15px;
            outline: none;
            &:-moz-placeholder {
              color: #222;
            }
            &:-ms-input-placeholder {
              color: #222;
            }
            &::-webkit-input-placeholder {
              color: #222;
            }
          }
        }
      }
      .price-btn_footer {
        button {
          font: normal 18px "myriad regular";
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .top-container {
    align-items: flex-start;
    margin-top: 7px;
  }
  .logo {
    margin-top: 0;
  }
  .navigation {
    position: absolute;
    margin-top: 0;
    bottom: 5px;
  }
  .phone {
    margin-top: 0;
    button {
      display: block;
    }
  }
  #cancel-callback {
    display: block;
  }
  .free-consulting {

  }

  header {
    .header-content {
      &__bottom {
        .title {
          &__text {
            font-size: 27px;
          }
          &__guarantee {
            left: auto;
            bottom: auto;
          }
        }
      }
    }
  }
  .section-title {
    font-size: 25px;
    p {
      font-size: 14px;
    }
  }
  .section-content {
    flex-direction: column;
    align-items: center;
    &__block {
      margin: 20px 0;
      width: 320px;
      height: 650px;
      &:hover {
        transform: none;
        box-shadow: 0 0 65px rgba(113,164,51,.9);
        z-index: 9999;
      }
      .services-name {
        color: #0054a0;
        font: normal 27px "helvetica bold";
        text-align: center;
        padding: 0 70px;
        margin-top: 36px;
      }
      .services-price {
        color: #0054a0;
        font: normal 32px "helvetica bold";
        text-align: center;
        position: relative;
        bottom: 27px;
        letter-spacing: 1px;
        span {
          color: #ec0520;
        }
      }
      .services-btn {
        button {
          background: #71a433;
          width: 100%;
          border: none;
          display: block;
          color: #fff;
          height: 90px;
          cursor: pointer;
          outline: none;
          font-size: 25px;
        }
      }
    }
  }
  main {
    .section-content_works {
      .line {
        .works-block {
          font-size: 10px;
          &__name {
            font-size: 15px;
          }
        }
      }
    }
    .section-content_prices {
      .section-content__one-price {
        margin: 20px 0;
        width: 404px;
        max-width: 100%;
        border: 1px solid #70a432;
        box-sizing: border-box;
        position: relative;
        background: #fff;
        z-index: 200;
        &:hover {
          transform: none;
          box-shadow: 0 0 65px rgba(0,0,0,.8);
        }
        .prices-name {
          color: #fff;
          background: #70a432;
          width: 100%;
          font-size: 17px;
          height: 185px;
          display: flex;
          align-items: center;
          span {
            padding: 0;
            height: auto;
            display: block;
            line-height: 35px;
          }
        }
        .prices-img {
          display: flex;
          flex-direction: row;
          img {
            display: block;
            margin-top: 40px;
            margin-left: 0;
            width: 112px;
            height: 315px;
          }
          ul {
            list-style: none;
            padding-left: 3px;
            margin-top: 65px;
            li {
              position: relative;
              margin: 13px 0;
              &:first-child {
                margin-top: 0;
              }
              a {
                text-decoration: none;
                padding-left: 30px;
                display: block;
                font: normal 18px "myriad regular";
                color: #0054a0;
              }
            }
            .item-plus {
              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                background: url("../img/png/plus.png") no-repeat;
                width: 22px;
                height: 23px;
              }
            }
            .item-minus {
              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                background: url("../img/png/minus.png") no-repeat;
                width: 22px;
                height: 8px;
                top: 10px;
              }
            }
          }
        }
      }
    }
    .section-content_advantages {
      flex-direction: row;
    }
    .section-content_steps {
      .one-step {
        &__img {
          img {
           display: none;
          }
        }
        &__title {
          margin-left: 110px;
        }
        &__step-number {
          left: 0;
          top: 21px;
        }
      }
      .one-step_two {
        .one-step__title {
          margin-right: 110px;
          margin-left: 0;
        }
        .one-step__step-number {
          right: 0;
          top: 21px;
        }
      }
    }
    .best-choice {
      right: auto;
      left: 0;
      bottom: 80px;
    }

    .first-scale {
      &:hover {
        animation: none;
        left: 0;
      }
    }
    .last-scale {
      &:hover {
        animation: none;
        right: 0;
      }
    }
  }
  footer {
    .section-content_footer {
      .footer-map {
        img {
          padding: 0;
        }
      }
      .footer-form {
        width: 100%;
        form {
          .input-group {
            flex-direction: column;
            margin: 0 10px;
            align-items: center;
            input {
              margin: 10px 0;
              box-sizing: border-box;
              max-width: 100%;
            }
          }
          textarea {
            margin: 0 10px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 485px) {
  header {
    .header-content__top {
      height: 160px;
    }
  }
  .navigation {
    display: none;
  }
  .phone {
    font-size: 17px;
    button {
      font-size: 12px;
    }
  }
  #cancel-callback {
    right: 0px;
    top: -31px;
  }
  #mobile-nav-btn {
    display: block;
    width: 60px;
    height: 45px;
    position: absolute;
    left: 27px;
    bottom: 15px;
    z-index: 9999;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #mobile-nav-btn span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: linear-gradient(#97c3f0,#4690d9);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #mobile-nav-btn span:nth-child(1) {
    top: 0;
  }
  #mobile-nav-btn span:nth-child(2) {
    top: 18px;
  }
  #mobile-nav-btn span:nth-child(3) {
    top: 36px;
  }
  #mobile-nav-btn.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #mobile-nav-btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #mobile-nav-btn.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  #mobile-nav {
    display: block;
    max-width: 485px;
    width: 100%;
    background: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 99999;
    text-align: center;
    bottom: -192px;
    transition: all 1s ease 0.5s;
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: 10px 0;
        a {
          color: #014787;
          text-decoration: none;
          font: normal 20px "myriad regular";
          text-shadow: 0 1px 0 #000;
        }
      }
    }
  }
}
