//= template/head.html
//= template/header.html

<main>
    <section class="services">
        <div class="container_flex-column">
            <div class="section-title">
                <h3>Услуги</h3>
                <p>
                    сделаем качественно, проффесионально, точно в срок
                </p>
            </div>
            <div class="section-content" id="section1">
                <div class="section-content__block first-scale">
                    <div class="services-name">
                        СКВАЖИНА НА ПЕСОК
                    </div>
                    <div class="services-img">
                        <img src="img/jpg/drilling-1.png" alt="скважина на песок">
                    </div>
                    <div class="services-price">
                        от <span>1500</span> руб/м
                    </div>
                    <div class="services-btn">
                        <button>ЗАКАЗАТЬ</button>
                    </div>
                </div>
                <div class="section-content__block">
                    <div class="services-name">
                        СКВАЖИНА НА ИЗВЕСТНЯК
                    </div>
                    <div class="services-img">
                        <img src="img/jpg/drilling-2.png" alt="скважина на известняк">
                    </div>
                    <div class="services-price">
                        от <span>1900</span> руб/м
                    </div>
                    <div class="best-choice"></div>
                    <div class="services-btn">
                        <button>ЗАКАЗАТЬ</button>
                    </div>
                </div>
                <div class="section-content__block last-scale">
                    <div class="services-name">
                        ОБУСТРОЙСТВО СКВАЖИНЫ
                    </div>
                    <div class="services-img">
                        <img src="img/jpg/drilling-3.png" alt="обустройство скважины">
                    </div>
                    <div class="services-price">
                        от <span>30 000</span> руб
                    </div>
                    <div class="services-btn">
                        <button>ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="steps">
        <div class="container_flex-column">
            <div class="section-title">
                <h3>Всего 4 шага</h3>
                <p>
                    своя скважина на участке, это проще, чем Вам кажется
                </p>
            </div>
            <div class="section-content section-content_steps small-padding">
                <div class="one-step">
                    <div class="one-step__img">
                        <img src="img/jpg/step-1.jpg" alt="оставьте заявку на сайте">
                    </div>
                    <div class="one-step__title">
                        <p>Шаг 1 : оставьте заявку на нашем сайте</p>
                        <p>
                            Заполните форму заявки на бурение скважины и нажмите ОТПРАВИТЬ.
                            Наш специалист свяжется с Вами в ближайшее время.
                            Согласовываем время и место проведения работ
                        </p>
                    </div>
                    <div class="one-step__step-number">
                        <p>1</p>
                        <p>шаг</p>
                    </div>
                </div>
                <div class="one-step one-step_two">
                    <div class="one-step__img">
                        <img src="img/jpg/step-2.jpg" alt="заключаем договор">
                    </div>
                    <div class="one-step__title">
                        <p>Шаг 2 : Заключаем договор</p>
                        <p>
                            Договор на бурение скважины заключаем в нашем офисе.<br>
                            При необходимости, возможно заключение договора непосредственно на Вашем
                            участке, в день работ по бурению.
                        </p>
                    </div>
                    <div class="one-step__step-number">
                        <p>2</p>
                        <p>шаг</p>
                    </div>
                </div>
                <div class="one-step">
                    <div class="one-step__img">
                        <img src="img/jpg/step-3.jpg" alt="бурим скважину на воде">
                    </div>
                    <div class="one-step__title">
                        <p>Шаг 3 : Бурим скважину на воде</p>
                        <p>
                            Производим бурение скважины.<br>
                            Прокачку своим насосом до визуально чистой воды.<br>
                            Производим замер глубины.<br>
                            Выписываем ПАСПОРТ на скважину
                        </p>
                    </div>
                    <div class="one-step__step-number">
                        <p>3</p>
                        <p>шаг</p>
                    </div>
                </div>
                <div class="one-step one-step_two">
                    <div class="one-step__img">
                        <img src="img/jpg/step-4.jpg" alt="оплата">
                    </div>
                    <div class="one-step__title">
                        <p>Шаг 4 : Оплата</p>
                        <p>
                            Производите оплату работ,<br>
                            наличными или по безналичному расчёту.
                        </p>
                    </div>
                    <div class="one-step__step-number">
                        <p>4</p>
                        <p>шаг</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="prices">
        <div class="container_flex-column">
            <div class="section-title">
                <h3>Стоимость бурения</h3>
                <p>
                    наши цены честные и справедливые,без накруток и наценок
                </p>
            </div>
            <div class="section-content section-content_prices">
                <div class="section-content__one-price first-scale">
                    <div class="prices-name">
                        <span>БУРЕНИЕ ПОД ОДНОТРУБНУЮ
                        КОНСТРУКЦИЮ СКВАЖИНЫ.
                        ОДНА МЕТАЛЛИЧЕСКАЯ ТРУБА
                        ø 133  мм ИЛИ  ø159 мм</span>
                    </div>
                    <div class="prices-img">
                        <img src="img/png/aqueduct-1.png" alt="какая то труба">
                        <ul>
                            <li class="item-plus">
                                <a>низкая стоимость</a>
                            </li>
                            <li class="item-plus">
                                <a>возможность эксплуатации бытовых насосов диаметром 3 и 4 дюйма</a>
                            </li>
                            <li class="item-minus">
                                <a>ограниченный срок службы</a>
                            </li>
                            <li class="item-minus">
                                <a>обсадная колонна является и эксплуатационной трубой</a>
                            </li>
                            <li class="item-minus">
                                <a>низкая ремонтопригодность (по отношению к двухтрубной конструкции)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="prices-btn">
                        <button>ЗАКАЗАТЬ</button>
                    </div>
                </div>
                <div class="section-content__one-price">
                    <div class="prices-name">
                        <span>БУРЕНИЕ ПОД
                        ОБСАДНУЮ ТРУБУ
                        ø 133 мм С ПЛАСТИКОВОЙ
                        КОЛОННОЙ ø110 мм</span>
                    </div>
                    <div class="prices-img">
                        <img src="img/png/aqueduct-2.png" alt="какая то труба">
                        <ul>
                            <li class="item-plus">
                                <a>срок службы скважины 50 лет</a>
                            </li>
                            <li class="item-plus">
                                <a>отсутствует вторичное загрязнение железом, так как вода находится в пластиковой трубе</a>
                            </li>
                            <li class="item-plus">
                                <a>стойкость к химическим растворам</a>
                            </li>
                            <li class="item-plus">
                                <a>высокая ремонтопригодность скважины и установленного в ней оборудования</a>
                            </li>
                            <li class="item-minus">
                                <a>увеличение стоимости сооружения скважины</a>
                            </li>
                        </ul>
                    </div>
                    <div class="prices-btn">
                        <button>ЗАКАЗАТЬ</button>
                    </div>
                    <div class="best-choice"></div>
                </div>
                <div class="section-content__one-price last-scale">
                    <div class="prices-name">
                        <span>БУРЕНИЕ ПОД
                        ОБСАДНУЮ ТРУБУ
                        ø 159 мм С ПЛАСТИКОВОЙ
                        КОЛОННОЙ ø 125 мм</span>
                    </div>
                    <div class="prices-img">
                        <img src="img/png/aqueduct-2.png" alt="какая то труба">
                        <ul>
                            <li class="item-plus">
                                <a>срок службы скважины 50 лет</a>
                            </li>
                            <li class="item-plus">
                                <a>отсутствует вторичное загрязнение железом, так как вода находится в пластиковой трубе</a>
                            </li>
                            <li class="item-plus">
                                <a>стойкость к химическим растворам</a>
                            </li>
                            <li class="item-plus">
                                <a>высокая ремонтопригодность скважины и установленного в ней оборудования</a>
                            </li>
                            <li class="item-minus">
                                <a>увеличение стоимости сооружения скважины</a>
                            </li>
                        </ul>
                    </div>
                    <div class="prices-btn">
                        <button>ЗАКАЗАТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="steps steps_scale">
        <div class="container_flex-column container_scale">
            <div class="section-title">
                <h3>О компании</h3>
                <p>
                    новые технологии бурения скважин на воду
                </p>
            </div>
            <div class="section-content section-content_about small-padding">
                <p>
                    Обнинская Буровая Компания бурит скважины на воду уже более 16 лет.
                    За этот долгий период мы пробурили более 5 тысяч
                    скважин для частных лиц и организаций, для фермерских хозяйств и коттеджных посёлков.
                </p>
                <p>
                    В нашей компании работают профессионалы своего дела с большим опытом бурения и обустройства скважин на воду.
                    Поэтому мы знаем, что  использование высококлассной техники и высококачественных материалов для монтажа и
                    изготовления узлов и агрегатов, позволяет качественно и надежно выполнить все работы по бурению и обустройству
                    скважин, удовлетворить полностью все потребности заказчика, выполнить заказы в срок.
                </p>
                <p>
                    Качественное выполнение работ по строительству скважины, а так же правильная её эксплуатация позволит
                    вам сэкономить ваши средства избежав лишних расходов на частую замену фильтров внешней механической очистки
                    и промывки заилившейся скважины! Главное для нас - это качество выполненных работ!
                </p>
                <p>
                    В стоимость строительства скважины за 1 погонный метр входит:
                </p>
                <ul>
                    <li>бурение скважины</li>
                    <li>обсадная труба</li>
                    <li>установка обсадной трубы и фильтра</li>
                    <li>отсыпка затрубного пространства</li>
                    <li>изоляция эксплуатационного пласта от вышезалегающих водных горизонтов</li>
                    <li>испытание дебита водоносного пласта</li>
                    <li>расчет технических характеристик насосного оборудования</li>
                    <li>рекомендации по выбору оптимального обустройства скважины и водоснабжения</li>
                </ul>
                <p>
                    При строительстве скважин под воду мы используем трубу, изготовленную из ПВХ диаметром 125 мм,
                    110 мм, изготовленную специально для строительства бытовых и промышленных водных скважин.
                    Все элементы обсадной колонны имеют резьбовое соединение, обеспечивающее прочное и герметичное крепление.
                </p>
            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="container_flex-column">
            <div class="section-title">
                <h3>Наши преимущества</h3>
            </div>
            <div class="section-content section-content_advantages small-padding">
                <div class="advantages-block">
                    <img src="img/png/advantages-1.png" alt="">
                    <span>Наличие<br>СРО</span>
                </div>
                <div class="advantages-block">
                    <img src="img/png/advantages-2.png" alt="">
                    <span>Надёжная<br>техника</span>
                </div>
                <div class="advantages-block">
                    <img src="img/png/advantages-3.png" alt="">
                    <span>Работа<br>на результат</span>
                </div>
                <div class="advantages-block">
                    <img src="img/png/advantages-4.png" alt="">
                    <span>Качественные<br>материалы</span>
                </div>
                <div class="advantages-block">
                    <img src="img/png/advantages-5.png" alt="">
                    <span>Гарантия<br>3 года</span>
                </div>
            </div>
        </div>
    </section>
    <section class="prices works">
        <div class="container_flex-column">
            <div class="section-title">
                <h3>Наши работы</h3>
                <p>
                    Обнинск, Калуга, Малоярославец, Наро-Фоминск,
                </p>
                <p>
                    это лишь малая часть городов, где уже есть скважины пробуренные нашей компанией
                </p>
            </div>
            <div class="section-content section-content_works small-padding">
                <div class="line">
                    <div class="works-block">
                        <img src="img/jpg/balabanovo.jpg" alt="">
                        <span class="works-block__name">Балабаново</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                    <div class="works-block">
                        <img src="img/jpg/maloyaroslavec.jpg" alt="">
                        <span class="works-block__name">Малоярославец</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                    <div class="works-block">
                        <img src="img/jpg/kaluga.jpg" alt="">
                        <span class="works-block__name">Калуга</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                </div>
                <div class="line">
                    <div class="works-block">
                        <img src="img/jpg/obninsk.jpg" alt="">
                        <span class="works-block__name">Обнинск</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                    <div class="works-block">
                        <img src="img/jpg/erdenevo.jpg" alt="">
                        <span class="works-block__name">Ерденево</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                    <div class="works-block">
                        <img src="img/jpg/vorotinsk.jpg" alt="">
                        <span class="works-block__name">Воротынск</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                </div>
                <div class="line">
                    <div class="works-block">
                        <img src="img/jpg/vorobiy.jpg" alt="">
                        <span class="works-block__name">Воробьи</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                    <div class="works-block">
                        <img src="img/jpg/medin.jpg" alt="">
                        <span class="works-block__name">Медынь</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                    <div class="works-block">
                        <img src="img/jpg/melichkino.jpg" alt="">
                        <span class="works-block__name">Меличкино</span>
                        <span class="works-block__description">бурение скважин</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

//= template/footer.html


